// styling/activityPopup.scss

@import "variables";

.activity-popup {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	background-color: $color-background;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1000;

	h3 {
		text-transform: uppercase;
	}

	img {
		width: 5rem;
		padding-bottom: 2rem;
	}

	.date {
		color: $color-white;
		padding-top: 2rem;
	}

	.btn-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;

		label {
			color: $color-coral;
			font-size: 0.8rem;
			font-weight: 600;
			letter-spacing: 0.05rem;
			line-height: 2rem;
			padding-top: 1.5rem;
		}

		input {
			display: flex;
			flex-direction: column;
			width: 14rem;
			height: 3rem;
			border: solid 1px $color-white;
			border-radius: 0.6rem;
			color: $color-purple;
			font-size: 1.5rem;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}
	.close-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1.5rem 1.5rem 0 0;
		width: 1.2rem;
	}
}
