@import "variables";

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4rem;

	@media (max-height: 700px) {
		gap: 1rem;
	}

	.start-img {
		width: 12rem;
	}

	.btn-container {
		display: flex;
		flex-direction: column;
	}
}
